# Ignored files for Hydrus Telegram Bot

# ----- AI rules -----
AGENTS.md

# ----- Queue (media + metadata) -----
*.png
*.jpeg
*.jpg
*.mp4
*.webm
*/queue.json

# ----- Logs folder -----
logs/*
!logs/.gitkeep

# ----- Queue folder -----
queue/*
!queue/.gitkeep

# ----- Virtual environments & IDE settings -----
/.venv/
/.idea/
/.vscode/
/.github/

# ----- Configuration files -----
config/config.json
config/config.json.dev
config/config.json.prod
config-dev.bat
config-prod.bat

# ----- OS Specific files -----
# macOS
.DS_Store
._*
.Spotlight*
.Trashes
# Windows
ehthumbs.db
Thumbs.db
start.bat

# ----- Python artifacts -----
__pycache__/
**/__pycache__/
*.py[cod]
