*.png
*.jpeg
*.jpg
*.mp4
*.webm
/.venv/
/.idea/
/.vscode/
/queue.json
data/config.json
data/config.json.dev
data/config.json.prod
data/config-dev.bat
data/config-prod.bat
/venv/
start.bat
.DS_Store
*.log
/__pycache__/
/modules/__pycache__/